/* Common Screen */
a:link {text-decoration:none;color:blue;}
a:hover {text-decoration:underline;color:blue;}
a:active {text-decoration:none;color:blue;}
a:visited {text-decoration:none;color:blue;}
body {
direction: ltr;background: #FFFFFF;text-align: center;font-size: 1.2em;
font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
}
.wrapper{width: 100%;}
textarea {padding: 2pt;border: 1px solid #000000;width: 50%;font-size:1.2em;}
input[type="submit"]{margin: 6px 0;font-size:1.2em}
.post {clear: left;border-bottom: 1px solid #000000;padding-bottom: 10px;width: 50%;margin: 10px auto;text-align: left;overflow:hidden;}
.time{font-size: .8em;padding: 2px 6px;text-align: center;float: right;border: 2px solid;border-radius: 8px;background: gold;width: 52px;}


/* Mobile Screen */
@media screen and (max-width: 800px) {
textarea {width: 100%;height: auto;}
.btn{text-align:right;}
.post {width: 100%;}
.warnpost {width: 100%;}
}